<div class="product-gallery">
  <div class="product-gallery__wrapper swiper">
    <div class="swiper-wrapper">
      {% for media in product.media %}
        {% if media.media_type == 'image' %}
          <div
            class="product-gallery__item swiper-slide"
            data-media-id="{{ media.id }}"
            data-index="{{ forloop.index }}"
          >
            <div class="product-gallery__media product-gallery__media--image">
              {% assign image_height = media.width | divided_by: media.aspect_ratio %}
              <picture>
                <source
                  media="(min-width: 750px)"
                  srcset="
                    {{ media | image_url: width: 360 }} 360w,
                    {{ media | image_url: width: 540 }} 540w,
                    {{ media | image_url: width: 720 }} 720w,
                    {{ media | image_url: width: 1080 }} 1080w,
                    {{ media | image_url: width: 1440 }} 1440w
                  "
                  sizes="50vw"
                >
                <source
                  srcset="
                    {{ media | image_url: width: 375 }} 375w,
                    {{ media | image_url: width: 550 }} 550w,
                    {{ media | image_url: width: 750 }} 750w
                  "
                  sizes="100vw"
                >
                <img
                  src="{{ media | image_url: width: 720 }}"
                  alt="{{ media.alt | escape }}"
                  width="{{ media.width }}"
                  height="{{ image_height }}"
                  loading="lazy"
                  class="product-gallery__image"
                >
              </picture>
            </div>
          </div>
        {% elsif media.media_type == 'video' %}
          <div class="product-gallery__item swiper-slide product-gallery__item--video" data-media-id="{{ media.id }}">
            <div class="product-gallery__media">
              <video
                playsinline
                loop
                autoplay
                muted
                controls
                controlsList="nodownload"
                poster="{{ media.preview_image | image_url: width: 1280 }}"
              >
                {%- for source in media.sources -%}
                  <source src="{{ source.url }}" type="{{ source.mime_type }}">
                {%- endfor -%}
                Your browser does not support the video tag.
              </video>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="swiper-button-prev">
      {% render 'slider-arrow' %}
    </div>
    <div class="swiper-button-next">
      {% render 'slider-arrow' %}
    </div>
    
    <div class="swiper-pagination"></div>
  </div>
</div>
